---
title: "Development"
meta_description: "Deol Creative provides beautiful websites that are accessible and generate leads"
og_title: "Deol Creative"
---
<section class="banner banner--home" id="banner">
  <div class="animation-wrapper animate--slide-up">
    <h1 class="text--display-large">Maintain a website <strong>without</strong> the hassle!</h1>
    <p class="text--large">Custom built websites that we manage for you</p>
    <a href="#plans" class="btn-primary">See plans</a>
  </div>
</section>
{% include 'graphics/divider.njk' %}

<section class="component component--callouts">
  <h2 class="animate--slide-up">Don't worry about learning to build and maintain a website</h2>

  <div class="flex-wrapper">
    <div class="callouts__callout animate--slide-up animate--delay-1">
      <span class="icon">
        {% include 'icons/checkmark.njk' %}
      </span>
      <p>Fully responsive</p>
    </div>

    <div class="callouts__callout animate--slide-up animate--delay-2">
      <span class="icon">
        {% include 'icons/bolt.njk' %}
      </span>
      <p>Lightning fast page speed</p>
    </div>

    <div class="callouts__callout animate--slide-up animate--delay-3">
      <span class="icon">
        {% include 'icons/money.njk' %}
      </span>
      <p>Unlimited content edits</p>
    </div>

    {# <div class="callouts__callout animate--slide-up animate--delay-4">
      <span class="icon">
        {% include 'icons/clock.njk' %}
      </span>
      <p>Unlimited changes so you're 100% satisfied</p>
    </div> #}
  </div>
</section>

<section class="component component--cta">
  <h2>See if we are right for you. (We totally are.)</h2>
  <p>Get a guided tour</p>
  <a href="https://calendly.com/creative-deolcreative/30min" class="btn-primary">Book a call</a>
</section>

<div class="component columns count--2">
  <div class="component component--quote-card style--stretch animate--slide-up">
    <div class="component-wrapper">
      {% include 'graphics/editable.njk' %}
    </div>
  </div>
  <div class="component component--text-block animate--slide-left">
    <h2 class="sr-only">Working with us</h2>
    <h3 class="h3">Totally async</h3>
    <p>Save time by skipping meetings and awkward small talk!</p>

    <h3 class="h3">Manage with Pumble</h3>
    <p>Submit and manage projects with ease using our project management tool. Communicate and submit projects all in one place!</p>

    <h3 class="h3">???</h3>
    <p>???</p>
  </div>
</div>

<section class="component component--callouts columns--3">
  <h2 class="animate--slide-up">Subscription Benefits</h2>
  <p class="text--large animate--slide-up">It's a subscription that saves you time and money!</p>

  <div class="flex-wrapper">
    {# <div class="callouts__callout animate--slide-up animate--delay-1">
      <span class="icon">
        {% include 'icons/seedling.njk' %}
      </span>
      <p>Every design is made 100% for you and is 100% yours!</p>
    </div> #}

    <div class="callouts__callout animate--slide-up animate--delay-2">
      <span class="icon">
        {% include 'icons/infinity.njk' %}
      </span>
      <p>Unlimited content edits done within 24 hours!</p>
    </div>

    <div class="callouts__callout animate--slide-up animate--delay-3">
      <span class="icon">
        {% include 'icons/keyboard.njk' %}
      </span>
      <p>Gauranteed accessibility compliant</p>
    </div>

    <div class="callouts__callout animate--slide-up animate--delay-1">
      <span class="icon">
        {% include 'icons/team.njk' %}
      </span>
      <p>???</p>
    </div>

    {# <div class="callouts__callout animate--slide-up animate--delay-2">
      <span class="icon">
        {% include 'icons/plane.njk' %}
      </span>
      <p>Top Quality & like staff we don't go on vacation</p>
    </div> #}

    {# <div class="callouts__callout animate--slide-up animate--delay-3">
      <span class="icon">
        {% include 'icons/three.njk' %}
      </span>
      <p>We make your design one at a time & it’s done in 3 days on average.</p>
    </div> #}
  </div>
</section>

{# <section class="component component--pills">
  <h2>We can do it all</h2>

  <div class="flex-wrapper">
    <span class="pills__pill">Landing pages</span>
    <span class="pills__pill">Mobile apps</span>
    <span class="pills__pill">Logos</span>
    <span class="pills__pill">Branding</span>
    <span class="pills__pill">Slide decks</span>
    <span class="pills__pill">Social media</span>
    <span class="pills__pill">Icons</span>
    <span class="pills__pill">Brand guides</span>
    <span class="pills__pill">Blog graphics</span>
  </div>
</section>

<div class="component component--media-gallery spacing--reduced">
  <div class="gallery-wrapper animate--slide-up">
    {% galleryItem '/img/work/nait-poster.jpg', '', 'gallery-1', true %}
    {% galleryItem '/img/work/mental-training.png', '', 'gallery-1', true %}
    {% galleryItem '/img/work/nait-viewbook.png', '', 'gallery-1', true %}
  </div>
</div> #}

<div class="component columns count--2" id="plans">
  {# <div class="component component--cta--styled animate--slide-up">
    <div class="component-wrapper">
      <h2>Have questions?</h2>
      <p class="mb-auto">Book a call and ask away!</p>
      <a href="https://calendly.com/creative-deolcreative/30min" class="btn-display">
        <p>Book a call</p>
        <p>Getting your designs is easier than you think</p>
      </a>
    </div>
  </div> #}

  <div class="component component--text-block style--card animate--slide-left">
    <div class="component-wrapper">
      <h2>Lump Sum</h2>
      <p class="h3 mt-100">$4000</p>
      <p>One website at a time.</p>
      <hr>
      <p>What's included:</p>
      <ul class="">
        <li>Design and development</li>
        <li>$25/m hosting</li>
        <li>+$250 to add a blog</li>
        <li>+$50/m unlimited content changes</li>
        <li>Up to 5 pages of content</li>
      </ul>

      <div class="button-wrapper">
        <a href="https://buy.stripe.com/28o7sCfahds29mU4gg" class="btn-primary">Get started</a>
      </div>
    </div>
  </div>

  <div class="component component--text-block style--card animate--slide-left">
    <div class="component-wrapper">
      <h2>Monthly</h2>
      <p class="h3 mt-100">$200/m</p>
      <p>One website at a time. Pause or cancel any time.</p>
      <hr>
      <p>What's included:</p>
      <ul class="">
        <li>Design and development</li>
        <li>Includes hosting</li>
        <li>+$250 to add a blog</li>
        <li>Unlimited content changes</li>
        <li>Up to 5 pages of content</li>
      </ul>

      <div class="button-wrapper">
        <a href="https://buy.stripe.com/28o7sCfahds29mU4gg" class="btn-primary">Get started</a>
      </div>
    </div>
  </div>
</div>

<section class="component component--accordions">
  <h2>Commonly asked questions</h2>
  <details>
    <summary>What if I want to write a blog?</summary>
    <p>for an additional $250 a CMS can be integrated that will allow you to write your own posts that will appear on a dedicated blog page.</p>
  </details>

  <details>
    <summary>Is there a limit to how many requests I can have?</summary>
    <p>There are unlimited content updates included in the monthly package. This includes any text or media content that may need to be updated.</p>
    <p>For additional pages after 5 or features, there is an additional $100 fee.</p>
  </details>

  <details>
    <summary>What happens if I want to leave for another vendor?</summary>
    <p>If you paid for the lump sum package, the website belongs to you. We will give you a copy of the website code and you're welcome to host it yourself, or find someone to host it for you.</p>
    <p>If you paid monthly for the website, the website belongs to you after 6 months. If you're leaving before the 6 month period, you're welcome to pay the monthly fee difference to recieve your website.</p>
  </details>
</section>

{# <section class="component component--cta">
  <h2>Lorem ipsum dolor sit amet (consectetur adipisicing elit)</h2>
  <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Repellat, quia? Eius quasi deserunt, vel nisi deleniti blanditiis nostrum dolorem eum!</p>
  <a href="#contact" class="btn-primary">See plans</a>
</section> #}

<section class="component component--form animate--slide-up" id="contact">
  <h2>Ask us anything!</h2>
  
  <form method="POST" netlify name="Contact" netlify-honeypot="bot-field">

    <div class="sr-only">
      <label for="bot-field">Don't fill this out if you're human</label>
      <input type="text" name="bot-field" id="bot-field">
    </div>
    
    <div class="form-item">
      <label for="name">Name</label>
      <input type="text" required name="name" id="name">
    </div>

    <div class="form-item">
      <label for="company-name">Company name</label>
      <input type="text" required name="company-name" id="company-name">
    </div>

    <div class="form-item">
      <label for="website">Website</label>
      <input type="text" required name="website" id="website">
    </div>

    <div class="form-item">
      <label for="preferred-contact">Preferred contact - email or call</label>
      <select name="preferred-contact" id="preferred-contact">
        <option value="">Select</option>
        <option value="phone">Phone</option>
        <option value="email">Email</option>
        <option value="text">Text</option>
      </select>
    </div>

    <div class="form-item hidden" data-visible-selector="preferred-contact" data-visible-value="email">
      <label for="email">Email</label>
      <input type="email" name="email">
    </div>

    <div class="form-item hidden" data-visible-selector="preferred-contact" data-visible-value="phone text">
      <label for="tel">Phone</label>
      <input type="tel" name="tel">
    </div>

    <div class="form-item">
      <label for="message">Message</label>
      <textarea cols="30" rows="10" required name="message" id="message"></textarea>
    </div>

    <div class="form-item button-wrapper">
      <button type="submit" class="btn-primary">Send!</button>
    </div>
  </form>
</section>