---
title: "Home"
meta_description: "Deol Creative provides fast and beautiful designs for one easy price"
og_title: "Deol Creative"
---
<section class="banner banner--home" id="banner">
  <div class="animation-wrapper animate--slide-up">
    <h1 class="text--display-large">Graphic Design with a <strong>subscription!</strong></h1>
    <p class="text--large">Unlimited designs and changes.</p>
    <a href="#plans" class="btn-primary">See plans</a>
  </div>
</section>
{% include 'graphics/divider.njk' %}

<section class="component component--callouts">
  <h2 class="animate--slide-up">Don't look for months & spend $100,000 to hire a Sr. Designer</h2>

  <div class="flex-wrapper">
    <div class="callouts__callout animate--slide-up animate--delay-1">
      <span class="icon">
        {% include 'icons/checkmark.njk' %}
      </span>
      <p>No unreliable freelancers</p>
    </div>

    <div class="callouts__callout animate--slide-up animate--delay-2">
      <span class="icon">
        {% include 'icons/clock.njk' %}
      </span>
      <p>Get your design in 3 days on average</p>
    </div>

    <div class="callouts__callout animate--slide-up animate--delay-3">
      <span class="icon">
        {% include 'icons/money.njk' %}
      </span>
      <p>Unlimited designs with all subscriptions</p>
    </div>

    <div class="callouts__callout animate--slide-up animate--delay-4">
      <span class="icon">
        {% include 'icons/bolt.njk' %}
      </span>
      <p>Unlimited changes so you're 100% satisfied</p>
    </div>
  </div>
</section>

{# <section class="component component--quote">
  <h2>They said it best</h2>
  <p class="h3">"Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas, deleniti!"</p>
  <cite class="h5">John Doe</cite>
</section> #}

<section class="component component--cta">
  <h2>See if we are right for you. (We totally are.)</h2>
  <p>Get a guided tour</p>
  <a href="https://calendly.com/designjoy/designjoy-intro-1" class="btn-primary">Book a call</a>
</section>

<div class="component columns count--2">
  <div class="component component--quote-card style--stretch animate--slide-up">
    <div class="component-wrapper">
      {% include 'graphics/team-up.njk' %}
    </div>
  </div>
  <div class="component component--text-block animate--slide-left">
    <h2 class="sr-only">Working with us</h2>
    <h3 class="h3">Totally async</h3>
    <p>Save time by skipping meetings and awkward small talk!</p>

    <h3 class="h3">Manage with Pumble</h3>
    <p>Submit and manage projects with ease using our project management tool. Communicate and submit projects all in one place!</p>

    <h3 class="h3">Invite your team</h3>
    <p>Have your team keep track of progress and allow anyone to submit a design</p>
  </div>
</div>

<section class="component component--callouts columns--3">
  <h2 class="animate--slide-up">Subscription Benefits</h2>
  <p class="text--large animate--slide-up">It's a subscription that saves you time and money!</p>

  <div class="flex-wrapper">
    <div class="callouts__callout animate--slide-up animate--delay-1">
      <span class="icon">
        {% include 'icons/seedling.njk' %}
      </span>
      <p>Every design is made 100% for you and is 100% yours!</p>
    </div>

    <div class="callouts__callout animate--slide-up animate--delay-2">
      <span class="icon">
        {% include 'icons/infinity.njk' %}
      </span>
      <p>Unlimited Projects for one price!</p>
    </div>

    <div class="callouts__callout animate--slide-up animate--delay-3">
      <span class="icon">
        {% include 'icons/keyboard.njk' %}
      </span>
      <p>Easily manage with Pumble and a dedicated server for you</p>
    </div>

    <div class="callouts__callout animate--slide-up animate--delay-1">
      <span class="icon">
        {% include 'icons/team.njk' %}
      </span>
      <p>Invite the whole team so anyone can submit a design</p>
    </div>

    <div class="callouts__callout animate--slide-up animate--delay-2">
      <span class="icon">
        {% include 'icons/plane.njk' %}
      </span>
      <p>Top Quality & like staff we don't go on vacation</p>
    </div>

    <div class="callouts__callout animate--slide-up animate--delay-3">
      <span class="icon">
        {% include 'icons/three.njk' %}
      </span>
      <p>We make your design one at a time & it’s done in 3 days on average.</p>
    </div>
  </div>
</section>

<section class="component component--pills">
  <h2>We can do it all</h2>

  <div class="flex-wrapper">
    <span class="pills__pill">Landing pages</span>
    <span class="pills__pill">Mobile apps</span>
    <span class="pills__pill">Logos</span>
    <span class="pills__pill">Branding</span>
    <span class="pills__pill">Slide decks</span>
    <span class="pills__pill">Social media</span>
    <span class="pills__pill">Icons</span>
    <span class="pills__pill">Brand guides</span>
    <span class="pills__pill">Blog graphics</span>
  </div>
</section>

{# <div class="component component--media-gallery spacing--reduced">
  <div class="gallery-wrapper animate--slide-up">
    {% galleryItem '/img/og-default.jpg', 'Just a default image, but as a caption', 'gallery-1' %}
    {% galleryItem '/img/og-default.jpg', 'Just a default image, but as a caption', 'gallery-1' %}
    {% galleryItem '/img/og-default.jpg', 'Just a default image, but as a caption', 'gallery-1' %}
  </div>
</div> #}

<div class="component columns count--2" id="plans">
  <div class="component component--cta--styled animate--slide-up">
    <div class="component-wrapper">
      <h2>Have questions?</h2>
      <p class="mb-auto">Book a call and ask away!</p>
      <a href="https://calendly.com/designjoy/designjoy-intro-1" class="btn-display">
        <p>Book a call</p>
        <p>Getting your designs is easier than you think</p>
      </a>
    </div>
  </div>

  <div class="component component--text-block style--card animate--slide-left">
    <div class="component-wrapper">
      <h2>Membership</h2>
      <p class="h3 mt-100">$1,995/m</p>
      <p>One design at a time. Pause or cancel any time.</p>
      <hr>
      <p>What's included:</p>
      <ul class="list-columns">
        <li>One request at a time</li>
        <li>Average 48 hour delivery</li>
        <li>Unlimited brands</li>
        <li>Webflow development</li>
        <li>Unlimited stock photos</li>
        <li>Pause or cancel anytime</li>
      </ul>

      <div class="button-wrapper">
        <a href="#contact" class="btn-primary">Get started</a>
      </div>
    </div>
  </div>
</div>

<section class="component component--accordions">
  <h2>Commonly asked questions</h2>
  <details>
    <summary>What if I don't like the design</summary>
    <p>If you don’t like the initial design, with our subscription you can request unlimited changes until you are 100% happy.</p>
  </details>

  <details>
    <summary>Is there a limit to how many requests I can have?</summary>
    <p>The subscription allows you to submit unlimited design requests and they will be worked on and delivered one at a time.</p>
  </details>

  <details>
    <summary>How fast will I receive my designs?</summary>
    <p>On average, our requests are completed in just three days or less, more complicated designs can take longer.</p>
  </details>

  <details>
    <summary>What will I receive in 48 hours?</summary>
    <p>You will receive a concept for example your branding or landing page will be sent back with some examples and you can request any changes.</p>
  </details>

  <details>
    <summary>How do you handle larger requests?</summary>
    <p>You can request a larger project at any time like a full website design and you can expect to receive updates and deliverables every 48 hours </p>
  </details>

  <details>
    <summary>How do I request designs?</summary>
    <p>Projects can easily be submitted through our project management app. You can share text, images, ideas, videos to get your project started. Give us the details and we’ll get to work!</p>
  </details>

  <details>
    <summary>Is there any design work you don't cover in the subscription?</summary>
    <p>Currently our subscription only offers graphic design work.It does not include build websites, 3D modeling, animation , complex package design or newspaper and print work (Adobe InDesign). But can be requested as a separate project outside the subscription.</p>
  </details>
</section>

{# <section class="component component--cta">
  <h2>Lorem ipsum dolor sit amet (consectetur adipisicing elit)</h2>
  <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Repellat, quia? Eius quasi deserunt, vel nisi deleniti blanditiis nostrum dolorem eum!</p>
  <a href="#contact" class="btn-primary">See plans</a>
</section> #}

<section class="component component--form animate--slide-up" id="contact">
  <h2>Ask us anything!</h2>
  
  <form method="POST" netlify name="Contact" netlify-honeypot="bot-field">

    <div class="sr-only">
      <label for="bot-field">Don't fill this out if you're human</label>
      <input type="text" name="bot-field" id="bot-field">
    </div>
    
    <div class="form-item">
      <label for="name">Name</label>
      <input type="text" required name="name" id="name">
    </div>

    <div class="form-item">
      <label for="company-name">Company name</label>
      <input type="text" required name="company-name" id="company-name">
    </div>

    <div class="form-item">
      <label for="website">Website</label>
      <input type="text" required name="website" id="website">
    </div>

    <div class="form-item">
      <label for="preferred-contact">Preferred contact - email or call</label>
      <select name="preferred-contact" id="preferred-contact">
        <option value="">Select</option>
        <option value="phone">Phone</option>
        <option value="email">Email</option>
        <option value="text">Text</option>
      </select>
    </div>

    <div class="form-item hidden" data-visible-selector="preferred-contact" data-visible-value="email">
      <label for="email">Email</label>
      <input type="email" name="email">
    </div>

    <div class="form-item hidden" data-visible-selector="preferred-contact" data-visible-value="phone text">
      <label for="tel">Phone</label>
      <input type="tel" name="tel">
    </div>

    <div class="form-item">
      <label for="message">Message</label>
      <textarea cols="30" rows="10" required name="message" id="message"></textarea>
    </div>

    <div class="form-item button-wrapper">
      <button type="submit" class="btn-primary">Send!</button>
    </div>
  </form>
</section>