---
title: "Home Page"
meta_description: "The home page of this 11ty site starter"
og_title: "11ty Starter Home Page"
---
<section class="banner banner--home" id="banner">
  <h1 class="text--display-large">Graphic Design with a subscription!</h1>
  <p class="text--large">Pause or cancel any time</p>
  <a href="#plans" class="btn-primary">See plans</a>
</section>

<section class="component component--callouts">
  <h2>Don't look for months & spend $100,000 to hire a Sr. Designer</h2>

  <div class="flex-wrapper">
    <div class="callouts__callout">
      <span class="icon">
        {% include 'icons/checkmark.njk' %}
      </span>
      <p>No unreliable freelancers</p>
    </div>

    <div class="callouts__callout">
      <span class="icon">
        {% include 'icons/clock.njk' %}
      </span>
      <p>Get your design in 3 days on average</p>
    </div>

    <div class="callouts__callout">
      <span class="icon">
        {% include 'icons/money.njk' %}
      </span>
      <p>Unlimited designs with all subscriptions</p>
    </div>

    <div class="callouts__callout">
      <span class="icon">
        {% include 'icons/bolt.njk' %}
      </span>
      <p>Unlimited changes so you're 100% satisfied</p>
    </div>
  </div>
</section>

<section class="component component--quote">
  <h2>They said it best</h2>
  <p class="h3">"Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas, deleniti!"</p>
  <cite class="h5">John Doe</cite>
</section>

<section class="component component--cta">
  <h2>See if we are right for you. (We totally are.)</h2>
  <p>Get a guided tour</p>
  <a href="#contact" class="btn-primary">Book a call</a>
</section>

<div class="component columns count--2">
  <div class="component component--quote-card style--stretch">
    <div class="component-wrapper">
      <p class="h4">"Lorem ipsum dolor, sit amet consectetur adipisicing elit. Minus, saepe."</p>
      <cite>John Doe</cite>
    </div>
  </div>
  <div class="component component--text-block">
    <h2 class="sr-only">Working with us</h2>
    <h3 class="h3">Totally async</h3>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dicta, blanditiis debitis recusandae vel ratione voluptatum.</p>

    <h3 class="h3">Manage with Trello</h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto sed placeat numquam iusto esse laboriosam!</p>

    <h3 class="h3">Invite your team</h3>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Reprehenderit, asperiores!</p>
  </div>
</div>

<section class="component component--callouts columns--3">
  <h2>Subscription Benefits</h2>
  <p class="text--large">It's a subscription that saves you time and money!</p>

  <div class="flex-wrapper">
    <div class="callouts__callout">
      <span class="icon">
        {% include 'icons/seedling.njk' %}
      </span>
      <p>Every design is made 100% for you and is 100% yours!</p>
    </div>

    <div class="callouts__callout">
      <span class="icon">
        {% include 'icons/infinity.njk' %}
      </span>
      <p>Unlimited Projects for one price!</p>
    </div>

    <div class="callouts__callout">
      <span class="icon">
        {% include 'icons/keyboard.njk' %}
      </span>
      <p>Easily manage with Pumble and a dedicated server for you</p>
    </div>

    <div class="callouts__callout">
      <span class="icon">
        {% include 'icons/dumbbell.njk' %}
      </span>
      <p>We are Flexible! Cancel or Pause anytime!</p>
    </div>

    <div class="callouts__callout">
      <span class="icon">
        {% include 'icons/plane.njk' %}
      </span>
      <p>Top Quality & like staff we don't go on vacation</p>
    </div>

    <div class="callouts__callout">
      <span class="icon">
        {% include 'icons/three.njk' %}
      </span>
      <p>We make your design one at a time & it’s done in 3 days on average.</p>
    </div>
  </div>
</section>

</hr class="display">

<section class="component component--pills">
  <h2>Lorem, ipsum dolor.</h2>

  <div class="flex-wrapper">
    <span class="pills__pill">Landing pages</span>
    <span class="pills__pill">Mobile apps</span>
    <span class="pills__pill">Logos</span>
    <span class="pills__pill">Branding</span>
    <span class="pills__pill">Slide decks</span>
    <span class="pills__pill">Social media</span>
    <span class="pills__pill">Icons</span>
    <span class="pills__pill">Brand guides</span>
    <span class="pills__pill">Blog graphics</span>
  </div>
</section>

<div class="component component--media-gallery spacing--reduced">
  <div class="gallery-wrapper">
    {% galleryItem '/img/og-default.jpg', 'Just a default image, but as a caption', 'gallery-1' %}
    {% galleryItem '/img/og-default.jpg', 'Just a default image, but as a caption', 'gallery-1' %}
    {% galleryItem '/img/og-default.jpg', 'Just a default image, but as a caption', 'gallery-1' %}
    {% galleryItem '/img/og-default.jpg', 'Just a default image, but as a caption', 'gallery-1' %}
    {% galleryItem '/img/og-default.jpg', 'Just a default image, but as a caption', 'gallery-1' %}
    {% galleryItem '/img/og-default.jpg', 'Just a default image, but as a caption', 'gallery-1' %}
  </div>

  <a href="" class="btn-primary">See more work</a>
</div>

<div class="component columns count--2" id="plans">
  <div class="component component--cta--styled">
    <div class="component-wrapper">
      <h2 class="h1">Have questions?</h2>
      <p class="mb-auto">Book a call and ask away!</p>
      <a href="" class="btn-display">
        <p>Lorem ipsum dolor sit amet.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis, saepe.</p>
      </a>
      <a href="" class="btn-display">
        <p>Lorem ipsum dolor sit amet.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis, saepe.</p>
      </a>
    </div>
  </div>

  <div class="component component--text-block style--card">
    <div class="component-wrapper">
      <h2>Membership</h2>
      <p class="h3 mt-100">$4,995/m</p>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa, autem?</p>
      <hr>
      <p>What's included:</p>
      <ul class="list-columns">
        <li>One request at a time</li>
        <li>Average 48 hour delivery</li>
        <li>Unlimited brands</li>
        <li>Webflow development</li>
        <li>Unlimited stock photos</li>
        <li>Pause or cancel anytime</li>
      </ul>

      <div class="button-wrapper">
        <a href="#contact" class="btn-primary">Get started</a>
        <a href="/" class="btn-secondary">Book a call</a>
      </div>
    </div>
  </div>
</div>

<section class="component component--accordions">
  <h2>Commonly asked questions</h2>
  <details>
    <summary>Lorem ipsum, dolor sit amet.</summary>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita facere recusandae ab iure accusantium deserunt? Animi non omnis ad aliquam!</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita facere recusandae ab iure accusantium deserunt? Animi non omnis ad aliquam!</p>
  </details>

  <details>
    <summary>Lorem ipsum, dolor sit amet.</summary>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita facere recusandae ab iure accusantium deserunt? Animi non omnis ad aliquam!</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita facere recusandae ab iure accusantium deserunt? Animi non omnis ad aliquam!</p>
  </details>

  <details>
    <summary>Lorem ipsum, dolor sit amet.</summary>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita facere recusandae ab iure accusantium deserunt? Animi non omnis ad aliquam!</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita facere recusandae ab iure accusantium deserunt? Animi non omnis ad aliquam!</p>
  </details>

  <details>
    <summary>Lorem ipsum, dolor sit amet.</summary>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita facere recusandae ab iure accusantium deserunt? Animi non omnis ad aliquam!</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita facere recusandae ab iure accusantium deserunt? Animi non omnis ad aliquam!</p>
  </details>

  <details>
    <summary>Lorem ipsum, dolor sit amet.</summary>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita facere recusandae ab iure accusantium deserunt? Animi non omnis ad aliquam!</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita facere recusandae ab iure accusantium deserunt? Animi non omnis ad aliquam!</p>
  </details>

  <details>
    <summary>Lorem ipsum, dolor sit amet.</summary>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita facere recusandae ab iure accusantium deserunt? Animi non omnis ad aliquam!</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita facere recusandae ab iure accusantium deserunt? Animi non omnis ad aliquam!</p>
  </details>
</section>

<section class="component component--cta">
  <h2>Lorem ipsum dolor sit amet (consectetur adipisicing elit)</h2>
  <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Repellat, quia? Eius quasi deserunt, vel nisi deleniti blanditiis nostrum dolorem eum!</p>
  <a href="" class="btn-primary">See plans</a>
</section>

<section class="component component--form" id="contact">
  <h2>Ask us anything!</h2>
  
  <form action="">
    
    <div class="form-item">
      <label for="name">Name</label>
      <input type="text" required>
    </div>

    <div class="form-item">
      <label for="preferred-contact">Preferred contact</label>
      <select name="preferred-contact" id="preferred-contact">
        <option value="">Select</option>
        <option value="phone">Phone</option>
        <option value="email">Email</option>
        <option value="text">Text</option>
      </select>
    </div>

    <div class="form-item hidden" data-visible-selector="preferred-contact" data-visible-value="email">
      <label for="email">Email</label>
      <input type="email">
    </div>

    <div class="form-item hidden" data-visible-selector="preferred-contact" data-visible-value="phone text">
      <label for="tel">Phone</label>
      <input type="tel">
    </div>

    <div class="form-item">
      <label for="question">Question</label>
      <textarea name="" id="" cols="30" rows="10" required></textarea>
    </div>

    <div class="form-item">
      <button type="submit" class="btn-primary">Send!</button>
    </div>
  </form>
</section>