.banner--default {
  padding: var(--padding-600) var(--page-margin-200);
  background-color: var(--surface-secondary);
}

[class*=banner] + .divider {
  overflow: hidden;
  display: flex;
  justify-content: center;

  svg {
    min-width: 60rem;
    width: 100%;
  }

  .wave-1 {
    fill: var(--icon-primary); 
  }

  .wave-2 {
    fill: var(--icon-secondary); 
  }

  .wave-3 {
    fill: var(--surface-secondary); 
  }
}