.component--pills {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 var(--page-margin-500);
  text-align: center;

  .flex-wrapper {
    flex: 1 1 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: center;
    gap: var(--padding-100);
  }

  .pills__pill {
    display: block;
    padding: var(--padding-100) var(--padding-200);
    border-radius: 2rem;
    text-align: center;
    background-color: #888;

    &:nth-child(1) {
      background-color: var(--blue-700);
    }

    &:nth-child(2) {
      background-color: var(--yellow-700);
    }

    &:nth-child(3) {
      background-color: var(--orange-700);
    }

    &:nth-child(4) {
      background-color: var(--orange-800);
    }

    &:nth-child(5) {
      background-color: var(--yellow-500);
    }

    &:nth-child(6) {
      background-color: var(--blue-600);
    }

    &:nth-child(7) {
      background-color: var(--yellow-900);
    }

    &:nth-child(8) {
      background-color: var(--orange-400);
    }

    &:nth-child(9) {
      background-color: var(--orange-800);
    }
  }
}