:root {
  --blob-1: 49% 51% 42% 58% / 35% 39% 61% 65%;
  --blob-2: 49% 51% 42% 58% / 35% 39% 61% 65%;
  --blob-3: 49% 51% 42% 58% / 35% 39% 61% 65%;
  --blob-4: 49% 51% 42% 58% / 35% 39% 61% 65%;
  --blob-5: 49% 51% 42% 58% / 35% 39% 61% 65%;
  --blob-6: 49% 51% 42% 58% / 35% 39% 61% 65%;
}

/* Single Callout
 * ----------------------------------------------- */
.callouts__callout {
  flex: 1 1 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 0 var(--padding-200);

  .icon {
    width: 6em;
    height: 6em;
    background-color: var(--blue-100);
    border-radius: 20rem;
    padding: 1.5em;
    border-radius: var(--blob-1);

    svg {
      width: 100%;
      height: 100%;
      fill: var(--purple-500);
    }
  }

  &:nth-child(2n) .icon {
    border-radius: var(--blob-2);
  }

  &:nth-child(3n) .icon {
    border-radius: var(--blob-3);
  }

  &:nth-child(4n) .icon {
    border-radius: var(--blob-4);
  }

  &:nth-child(5n) .icon {
    border-radius: var(--blob-5);
  }

  &:nth-child(6n) .icon {
    border-radius: var(--blob-6);
  }

  @media (max-width: 500px) {
    flex-direction: row;
    gap: var(--padding-300);
    text-align: left;

    .icon {
      width: 6rem;
      min-width: 6rem;
      height: 6rem;
      min-height: 6rem;
      padding: 0.8em;
    }
  }
}

/* Group Layout
 * ----------------------------------------------- */
.component--callouts {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 var(--page-margin-200);
  text-align: center;

  h2 {
    max-width: 30ch;
  }

  .flex-wrapper {
    flex: 1 1 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: var(--padding-400) 0;
    margin-top: var(--padding-500);
  }

  .flex-wrapper + [class*=btn] {
    margin-top: var(--padding-400);
  }

  .callouts__callout {
    flex: 1 1 25%;
  }

  &.columns--3 {
    .callouts__callout {
      flex: 1 1 33.333%;
    }
  }

  @media (max-width: 830px) {
    &.columns--3 .callouts__callout,
    .callouts__callout {
      flex: 1 1 50%;
    }
  }

  @media (max-width: 500px) {
    text-align: left;

    h2 {
      text-align: left;
    }

    &.columns--3 .callouts__callout,
    .callouts__callout {
      flex: 1 1 100%;
      padding: 0;
    }
  }
}