.component--quote-card {
  padding: 0 var(--page-margin-500);

  .component-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: var(--padding-300);
    background-color: var(--white-1000);
    padding: var(--padding-300);
    border-radius: 2rem;
  }

  svg {
    width: 100%;
    max-width: 54rem;
    height: auto;
  }

  p {
    margin: 0;
  }

  &.style--stretch {
    .component-wrapper {
      height: 100%;
    }
  }
}