.component--cta--styled {
  padding: 0 var(--page-margin-500);

  .component-wrapper {
    display: flex;
    flex-direction: column;
    background-color: #000;
    padding: var(--padding-300);
    border-radius: 2rem;
    box-shadow: 3px 3px 18px 2px rgba(0, 0, 0, 0.3333333333);
    color: #FFF;
  }

  h2 {
    font-size: 3.6em;
    margin-bottom: var(--padding-600);
  }
}