.component--cta {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--padding-200);
  padding: 0 var(--page-margin-200);
  text-align: center;

  h2 {
    font-size: var(--display-small);
  }

  p {
    font-size: var(--text-large)
  }

  * {
    margin: 0;
  }
}