.component--text-block {
  padding: 0 var(--page-margin-500);

  &.style--card {
    .component-wrapper {
      padding: var(--padding-300) var(--padding-300);
      background-color: var(--surface-tertiary);
      border-radius: 2rem;
    }
  }
}