---
title: "Kitchen Sink"
noindex: true
---
<section class="banner banner--default">
  <h1>{{ title }}</h1>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt quaerat ducimus nobis deleniti doloremque minus? Ullam natus earum ipsum odit. Dolorem dolor, magnam veniam consectetur beatae minima unde quas dicta.</p>
</section>

{% include 'graphics/divider.njk' %}

<div class="component component--palette">
  <h2>Palette</h2>

  <div class="flex-wrapper">
    <div class="swatch"></div>
    <div class="swatch"></div>
    <div class="swatch"></div>
    <div class="swatch"></div>
    <div class="swatch"></div>
    <div class="swatch"></div>
    <div class="swatch"></div>
    <div class="swatch"></div>
    <div class="swatch"></div>
    <div class="swatch"></div>

    <div class="swatch"></div>
    <div class="swatch"></div>
    <div class="swatch"></div>
    <div class="swatch"></div>
    <div class="swatch"></div>
    <div class="swatch"></div>
    <div class="swatch"></div>
    <div class="swatch"></div>
    <div class="swatch"></div>
    <div class="swatch"></div>

    <div class="swatch"></div>
    <div class="swatch"></div>
    <div class="swatch"></div>
    <div class="swatch"></div>
    <div class="swatch"></div>
    <div class="swatch"></div>
    <div class="swatch"></div>
    <div class="swatch"></div>
    <div class="swatch"></div>
    <div class="swatch"></div>

    <div class="swatch"></div>
    <div class="swatch"></div>
    <div class="swatch"></div>
    <div class="swatch"></div>
    <div class="swatch"></div>
    <div class="swatch"></div>
    <div class="swatch"></div>
    <div class="swatch"></div>
    <div class="swatch"></div>
    <div class="swatch"></div>
  </div>
</div>

{# <section class="component component--child-pages">
  <h2>Child Pages</h2>
  <ul class="flex-wrapper">
    <li>
      <a href="/kitchen-sink/text-styles">
        <p class="h3">Text Styles</p>
        <p class="description">Examples of site text styles</p>
      </a>
    </li>

    <li>
      <a href="/">
        <p class="h3">Test</p>
        <p class="description">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ratione, aliquam?</p>
      </a>
    </li>

    <li>
      <a href="/">
        <p class="h3">Test</p>
        <p class="description">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ratione, aliquam?</p>
      </a>
    </li>
  </ul>
</section> #}

<section class="component component--text-block">
  <h2>Text Block</h2>
  <p><strong>Lorem ipsum dolor sit amet consectetur adipisicing elit</strong>. <em>Dolores, cupiditate, a eos totam voluptates quisquam eligendi voluptatum</em>, <u>sit vel iure hic itaque sunt voluptas expedita molestias unde quis nostrum.</u> <s>Corporis molestias asperiores quae minus, quam laborum error dolores placeat</s>? <a href="#">Voluptates, consequuntur molestias?</a> Dignissimos accusamus rem nobis officia explicabo excepturi pariatur!</p>

  <h3>Heading 3</h3>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus perferendis rem a nihil dignissimos suscipit eligendi maxime non reprehenderit dicta illo minus, voluptas blanditiis magni autem asperiores aspernatur consequuntur ea laborum tempore qui eos voluptatibus voluptatem modi. Vel molestias quisquam fuga, ea magnam quam animi, voluptate, fugit nam unde nostrum.</p>

  <h4>Heading 4</h4>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod blanditiis impedit aliquam porro, provident animi totam at, doloribus nam ad fuga quaerat eum beatae officiis quidem, error consequuntur vel a ipsam maiores. Sint accusantium vero dolorum itaque? Nulla ab hic modi fugit quis quibusdam odio sint, autem architecto qui laborum.</p>

  <h5>Heading 5</h5>
  <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Repellendus placeat reprehenderit a error magni qui! Nihil itaque necessitatibus quas similique provident! Ipsum, laudantium. Explicabo sit saepe, impedit delectus, iusto vero ex fuga aperiam et sunt velit eos! Veniam quaerat earum dolore sit, sapiente hic exercitationem magnam, et eveniet voluptatibus deleniti.</p>

  <h6>Heading 6</h6>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae quidem, natus impedit tenetur pariatur perferendis aliquid quod? Labore dolorem, blanditiis molestiae fugit tempora, esse dignissimos sit doloribus sed sapiente itaque! Unde similique ratione nisi! Omnis voluptates inventore a veritatis blanditiis fugit sapiente rem, quam error quis cum mollitia dolorum consequatur!</p>

  <p class="text--large">Large text. Nemo temporibus labore ex incidunt soluta, possimus aperiam laudantium nobis saepe provident!</p>

  <p class="text--small">Small text. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Explicabo aut minus laboriosam ad reiciendis accusamus dolorum nisi, praesentium illo sit!</p>

  <p class="text--display-large">Large Display</p>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio hic labore dignissimos, ullam nesciunt atque accusantium impedit est doloribus mollitia!</p>

  <p class="text--display-small">Small Display</p>
  <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Commodi maiores labore natus hic asperiores modi eum ullam veritatis iste facilis?</p>
</section>

<section class="component component--accordions">
  <h2>Accordions</h2>

  <details>
    <summary>Lorem ipsum, dolor sit amet.</summary>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita facere recusandae ab iure accusantium deserunt? Animi non omnis ad aliquam!</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita facere recusandae ab iure accusantium deserunt? Animi non omnis ad aliquam!</p>
  </details>

  <details>
    <summary>Lorem ipsum, dolor sit amet.</summary>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita facere recusandae ab iure accusantium deserunt? Animi non omnis ad aliquam!</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita facere recusandae ab iure accusantium deserunt? Animi non omnis ad aliquam!</p>
  </details>
</section>

{# <section class="component component--media type--image">
  <h2>Media Block</h2>
  <picture>
    <img src="/img/og-default.jpg" alt="Just a default image">
  </picture>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex, reprehenderit.</p>
</section>

<section class="component component--media type--image">
  <h2>Media Block - YouTube Video</h2>
  {% youtube 'https://www.youtube.com/watch?v=CBPvBV1XMnc' %}
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex, reprehenderit.</p>
</section> #}

<section class="component component--media-gallery">
  <h2>Media Gallery</h2>

  <div class="gallery-wrapper">
    {% galleryItem '/img/og-default.jpg', 'Just a default image, but as a caption', 'gallery-1' %}
    {% galleryItem '/img/og-default.jpg', 'Just a default image, but as a caption', 'gallery-1' %}
    {% galleryItem '/img/og-default.jpg', 'Just a default image, but as a caption', 'gallery-1' %}
    {% galleryItem '/img/og-default.jpg', 'Just a default image, but as a caption', 'gallery-1' %}
    {% galleryItem '/img/og-default.jpg', 'Just a default image, but as a caption', 'gallery-1' %}
    {% galleryItem '/img/og-default.jpg', 'Just a default image, but as a caption', 'gallery-1' %}
  </div>
</section>

<section class="component component--form" id="contact">
  <h2>Ask us anything!</h2>
  
  <form action="">
    
    <div class="form-item">
      <label for="name">Name</label>
      <input type="text" required>
    </div>

    <div class="form-item">
      <label for="preferred-contact">Preferred contact</label>
      <select name="preferred-contact" id="preferred-contact">
        <option value="">Select</option>
        <option value="phone">Phone</option>
        <option value="email">Email</option>
        <option value="text">Text</option>
      </select>
    </div>

    <div class="form-item hidden" data-visible-selector="preferred-contact" data-visible-value="email">
      <label for="email">Email</label>
      <input type="email">
    </div>

    <div class="form-item hidden" data-visible-selector="preferred-contact" data-visible-value="phone text">
      <label for="tel">Phone</label>
      <input type="tel">
    </div>

    <div class="form-item">
      <label for="question">Question</label>
      <textarea name="" id="" cols="30" rows="10" required></textarea>
    </div>

    <div class="form-item">
      <button type="submit" class="btn-primary">Send!</button>
    </div>
  </form>
</section>