label {
  display: block;
  font-weight: 600;

  +* {
    margin-top: var(--padding-100)
  }
}

input[type="text"],
input[type="date"],
input[type="tel"],
input[type="email"],
textarea,
select {
  width: 100%;
  background-color: hsl(var(--hsl-blue), 80%, 95%, 0.4);
  border: var(--border-thickness-200) solid var(--blue-400);
  padding: 0 var(--padding-100);
  border-radius: 0.4rem;
  color: var(--text-primary);
}

input[type="text"],
input[type="date"],
input[type="tel"],
input[type="email"],
select {
  height: 2em;
}

textarea {
  padding: var(--padding-100);
  resize: none;
}

input[type="checkbox"] {
  width: 1em;
  height: 1em;
}

select {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='hsl(199, 80%, 40%)' d='M12.07,15.21c.07-.11,6.47-6.58,9.62-9.71a1.08,1.08,0,0,1,.56-.31.72.72,0,0,1,.51.19c.33.28.62.6.93.9s.41.72,0,1.13L12.51,18.58a.62.62,0,0,1-1,0L.34,7.45c-.46-.46-.46-.74,0-1.2l.81-.81a.68.68,0,0,1,1.1,0Z'/%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
  background-position: right var(--padding-100) center;
  background-size: 1em;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  &::-ms-expand {
    display: none;
}
}

.form-item--check {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: row-reverse;
  gap: var(--padding-100);

  * {
    margin: 0;
  }
}

.form-item {
  +.form-item {
    margin-top: var(--padding-400);
  }

  &.form-item--check+.form-item--check {
    margin-top: var(--padding-200);
  }

  &.hidden {
    display: none;
  }
}
