/* Logo
 * ----------------------------------------------- */
.header__logo {
  text-decoration: none;
  color: var(--text-primary);

  &:visited {
    color: var(--text-primary);
  }
}

/* Header Layout
 * ----------------------------------------------- */
.site__header {
  display: flex;
  justify-content: space-between;
  justify-content: center;
  gap: var(--padding-100) var(--padding-300);
  padding: var(--padding-200) var(--page-margin-100);
}